<% content_for :header do %>
    <%= link_to "Back to services", admin_services_path, class: "go-back" %>
    <h1 class="page-header__title">Custom fields</h1>
<% end %>

<header class="actions">
  <%= link_to "Add section", new_admin_custom_field_path, class: "button button--small button--add  actions__pull-right" %>
</header>

<% if @sections.present? %>
  <% @sections.each do |s| %>
    <p><%= link_to s.name, admin_custom_field_path(s) %></p>
  <% end %>
<% else %>
  <p class="no-results no-results--big">No fields have been set up</p>
<% end %>