<div class="notice__body">
  <strong>You have successfully submitted this service for review</strong>
  <p>A council staff member will review and publish these changes soon. You can still make more changes in the meantime.</p>
</div>
<br/>
<div class="form-actions">
  <%= link_to "Back to dashboard", root_path, class: "button" %>
</div>