<% content_for :title do %>Ages | <% end %>

<% content_for :header do %>
    <%= link_to "Go back", service_path(@service), class: "go-back" %>
    <h1 class="page-header__title two-thirds">Ages</h1>
<% end %>

<%= form_with model: @service, url: service_path(@service, :section => params[:section]), html: {class: "two-thirds"} do |s| %>
    <%= render "shared/errors", model: @service %>
    <%= render "admin/services/editors/ages", s: s %>

    <div class="form-actions">
        <button class="button">Continue</button>
    </div>
<% end %>