<div class="field-section">
    <div class="field">
        <%= f.label :name, class: "field__label" %>
        <%= f.text_field :name, class: "field__input" %>
    </div>

    <div class="field">
        <%= f.label :description, class: "field__label" %>
        <%= f.text_area :description, class: "field__input" %>
    </div>
</div>