<% content_for :title do %>Add a service | <% end %>

<% content_for :header do %>
    <%= link_to "Go back", organisations_path, class: "go-back" %>
    <h1 class="page-header__title">Add a service</h1>
<% end %>

<%= render "edit_basic_information" %>