<% content_for :header do %>


    <% unless @service.approved? %>
        <div class="notice notice--pending">
            <div class="notice__body">
                <strong><p>This service has pending changes</p></strong>
                <p>A council staff member will review and publish these changes soon. You can still make more changes in the meantime.</p>    
            </div>
        </div>
    <% end %>

    <%= link_to "Go back", organisations_path, class: "go-back" %>
    <h1 class="page-header__title"><%= @service.name %></h1>
<% end %>

<%= render "form" %>