<%= render "shared/collapsible", name: "Feedback", count: @service.feedbacks.length, id: "service-feedback", help_text: "Feedback and suggested edits submitted by members of the public" do %>
    <div class="notes-list">
        <% if @service.feedbacks.present? %>
            <% @service.feedbacks.each do |f| %>

            <article class="notes-list__note">
                <header class="notes-list__note-header">
                    <strong><%= pretty_topic(f.topic) %></strong>
                    | <%= time_ago_in_words(f.created_at).humanize %> ago 
                </header>
                <p><%= f.body %></p>
            </article>
            <% end %>
        <% else %>
            <p>No feedback submitted yet</p>
        <% end %>
    </div>
<% end %>