<section class="collapsible" id="notes">
  <button class="collapsible__header" aria-expanded="true">
    <h2>Feedback <span class="collapsible__header-count">(<%= @service.feedbacks.length %>)</span></h2>
  </button>
  <div class="collapsible__content">

    <div class="notes-list">
        <% if @service.feedbacks.present? %>
            <% @service.feedbacks.each do |f| %>

            <article class="notes-list__note">
                <header class="notes-list__note-header">

                    <strong><%= pretty_topic(f.topic) %></strong>
                    | <%= time_ago_in_words(f.created_at).humanize %> ago 
                </header>
                <p><%= f.body %></p>
            </article>
            <% end %>
        <% else %>
            <p>No feedback submitted yet</p>
        <% end %>
    </ul>

  </div>
</section>