<div class="tabs">
    <ul class="tabs__nav" role="tablist">
        <li class="tabs__nav-item">
            <a class="tabs__nav-link" href="#tab-panel-1" id="tab-1" role="tab" aria-selected="true">
                Choose existing
            </a>
        </li>
        <li class="tabs__nav-item">
            <a class="tabs__nav-link" href="#tab-panel-2" id="tab-2" role="tab">
                Create new
            </a>
        </li>
    </ul>

    <section class="tabs__panel" role="tab-panel" id="tab-panel-1" aria-labelledby="tab-1">
        <div class="field">
            <%= s.label :location_ids, "Locations", class: "visually-hidden" %>
            <p class="field__hint">Use control key to select more than one location</p>
            <%= s.collection_select(:location_ids, Location.all, :id, :display_name, {}, {multiple: true, class: "field__input"}) %>
        </div>
    </section>

    <section class="tabs__panel" role="tab-panel" id="tab-panel-2" aria-labelledby="tab-2" hidden>
        Tab 2 content
    </section>

</div>