%table
  %tr
    %th Name
    %th Category
    %th Phone number
    %th Website
    %th Last updated
    %th Status
  - @services.each do |service|
    %tr
      %td
        = service.name
      %td
        service
      %td
        12345678901
      %td
        = service.url
      %td
        = service.updated_at
      %td
        Active