# Env vars for development

# ------------------ environment

PROJECT_NAME=outpost_development
SHOW_ENV_BANNER=outpost_development

# simulate prod
# run: RAILS_ENV=production rake secret
# SECRET_KEY_BASE= 

# ------------------ emails

MAILER_FROM=
MAILER_HOST=

NOTIFY_TEMPLATE_ID=
NOTIFY_API_KEY=


# ------------------ google maps/apis

#  with the geocoding API enabled, to geocode postcodes
GOOGLE_API_KEY=

#  with the javascript and static maps APIs enabled, to add map views to admin screens
GOOGLE_CLIENT_KEY=

# -------- node options
# This is temporary until we can upgrade from webpacker.

NODE_OPTIONS=--openssl-legacy-provider