<% content_for :header do %>
    <%= link_to "Go back", organisations_path, class: "go-back" %>
    <h1 class="page-header__title two-thirds">List a new service</h1>

    <h2>Submission incomplete</h2>
    <p>You've completed X of X sections</p>

    <ol>
        <li>
            <h2>Basic information</h2>
            <ul>
                <li>Name and description</li>
                <li><%= link_to "Website and social media", website_service_task_list_index_path %></li>
            </ul>
        </li>
        <li>
            <h2>Help people find your service</h2>
            <ul>
                <li>Name and description</li>
                <li>Website and social media</li>
            </ul>
        </li>
        <li>
            <h2>Extra information</h2>
            <ul>
                <li>Special educational needs and disabilities</li>
                <li>Extra questions</li>
            </ul>
        </li>

    </ol>
<% end %>