<span class="poppable">
  <span class="poppable__control">
    <%= u %>
  </span>

  <div class="poppable-card">
    <div class="poppable-card__inner">
      <h3 class="poppable-card__headline">
        <%= u %>
        <span class="poppable-card__tag">Deleted user</span>
      </h3>
    </div>
  </div>
</span>
