<% content_for :header do %>
    <%= link_to "Go back", admin_taxonomies_path, class: "go-back" %>
    <h1 class="page-header__title two-thirds">Add a new category</h1>
<% end %>

<%= render "form" %>