<% content_for :header do %>
    <%= link_to "Go back", admin_taxonomies_path, class: "go-back" %>
    <div class="page-header__actions">
      <h1 class="page-header__title two-thirds"><%= @taxonomy.name %></h1>
    </div>
<% end %>

<%= render "form" %>