<% if @activities.present? %>
  <div class="table-holder">
    <table>
      <thead class="visually-hidden">
        <tr>
            <th>Service</th>
            <th>At</th>
        </tr>
      </thead>
      <tbody>
        <% @activities.each do |a| %>
          <tr>
            <td>
              <%= render "shared/poppables/service", s: a.service %> was <%= a.action %>d by               <%= render "shared/poppables/user", u: a.user if a.user %>
            </td>
            <td>
              <%= short_time_ago_in_words(a.created_at).humanize %> ago
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="no-results">No recent activity to show</p>
<% end %>