<% if @watches.present? %>
    <table class="table table--small">
        <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Last updated</th>
        </tr>
        </thead>
        <tbody>
        <% @watches.each do |s| %>
            <tr>
                <td>
                    <strong>
                        <%= render "shared/poppables/service", s: s.service %>
                    </strong>
                </td>
                <td>
                    <% s.service.taxonomies.limit(3).each do |t| %>
                        <span class="category"><%= t.name %></span>
                    <% end %>
                </td>
                <td><%= short_time_ago_in_words(s.service.updated_at) %> ago</td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% else %>
    <p class="no-results">You're not watching any services</p>
<% end %>