<% if @watches.present? %>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Last updated</th>
        </tr>
        </thead>
        <tbody>
        <% @watches.each do |s| %>
            <tr>
            <td><%= link_to s.service.name, admin_service_path(s.service) %></td>
            <td><span class="category">Example</span></td>
            <td><%= time_ago_in_words(s.service.updated_at) %> ago</td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% else %>
    <p class="no-results">You're not watching any services</p>
<% end %>