<% content_for :title do %>Edit your organisation | <% end %>

<% content_for :header do %>
    <%= link_to "Go back", organisations_path, class: "go-back" %>
    <h1 class="page-header__title two-thirds">Change your organisation's name</h1>
    <p class="page-header__lede two-thirds">If you offer more than one service, a named organisation helps people recognise that they're run by you.</p>
<% end %>

<%= render "form" %>