<% content_for :header do %>
    <h1 class="page-header__title two-thirds">Give your organisation a name</h1>
    <p class="page-header__lede two-thirds">This will be publicly visible. If you have more than one service, this name will be used to group them together.</p>
<% end %>

<%= render "form" %>