<% content_for :header do %>
    <h1 class="page-header__title two-thirds">Tell us about a new service</h1>
    <p class="page-header__lede">Next, give us some details about the service itself.</p>
<% end %>

<div class="two-thirds">

<p>We keep a list of community services suitable for families in Buckinghamshire, particularly for those with children with special educational needs.</p>
<p>Keeping this list relies on submissions from the public.</p>
<p>If you run or are associated with a service you think should be listed, tell us about it.</p>

<div class="important">
    <p>At the moment we only accept submission from organisers. If you’re not the organiser, ask them to fill out this form instead.</p>
    <p>We also don’t accept requests from schools or childcare providers here. Please make your request via Ofsted and wait for us to get in touch.</p>
</div>

<%= link_to "Start", new_user_registration_path, class: "button" %>

</div>