<div class="snapshot-preview__canvas">
    <% combined_keys = live.merge(version).except!(*@service.ignorable_fields).keys %>

    <% combined_keys.each do |key| %>
        <h4 class="snapshot-preview__label"><%= key.humanize %></h4>
    
        <% if version.has_key?(key) && live.has_key?(key) %>
            <%= diff(version[key], live[key]) %>
        <% elsif live.has_key?(key) %>
            <%= diff("", live[key]) %>
        <% elsif version.has_key?(key) %>
            <%= diff(version[key], "") %>
        <% end %>
    <% end %>
</div>