<div class="snapshot-preview__canvas">

    <% live.except!(*@service.ignorable_fields).each do |key, value |%>
        <% if value.present? || current[key].present? %>
            <h4 class="snapshot-preview__label"><%= key.humanize %></h4>
            <div class="snapshot-preview__diff">
                <% if live[key].is_a?(Array) %>
                    <%= diff(ordered(current[key]), ordered(live[key])) %>
                <% elsif live[key].is_a?(Hash) %>
                    <%= diff(ordered_hash(current[key]), ordered_hash(live[key])) %>
                <% else %>
                    <%= diff(current[key].to_s, live[key].to_s) %>
                <% end %>
            </div>
        <% end %>
    <% end %>

</div>