@mixin button {
  display: block;
  background: $green;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  box-shadow: 0px 4px 0px $green-dark;
  width: 100%;
  text-align: center;
  padding: 12px 45px;
  margin-bottom: 25px;
  color: $grey1;
  cursor: pointer;
  text-decoration: none;
  @media screen and (min-width: $breakpoint-m) {
    font-size: 1.2rem;
    width: inherit;
    display: inline-block;
    margin-right: 10px;
  }

  &:hover {
    background: darken($green, 2.5);
    box-shadow: 0px 4px 0px darken($green-dark, 2.5);
    text-decoration: none;
  }
  &:active {
    background: darken($green, 5);
    box-shadow: none !important;
    transform: translateY(4px);
  }

  &:focus {
    outline: none;
    background: $focus;
    box-shadow: 0px 4px 0px $grey1;
  }
}

@mixin outline-button {
  @include button;

  background: none;
  border: 2px solid $outpostBlack;
  color: $outpostBlack;
  box-shadow: none;

  &:hover {
    background: none;
    box-shadow: none;
    border-color: darken($outpostBlack, 10);
    color: darken($outpostBlack, 10);
  }
  &:active {
    background: none;
    box-shadow: none !important;
    border-color: $grey1;
    color: $grey1;
    transform: translateY(0px);
  }
  &:focus {
    background: none;
    outline: 3px solid $focus;
    box-shadow: none;
  }
}

@mixin secondary-button {
  @include button;

  background-color: $grey5;
  box-shadow: 0px 4px 0px $grey3;

  &:hover {
    background-color: darken($grey5, 5);
    box-shadow: 0px 4px 0px darken($grey3, 2.5);
  }
  &:active {
    background-color: darken($grey5, 7.5);
  }
}

@mixin danger-button {
  @include button;

  background-color: $error;
  box-shadow: 0px 4px 0px darken($error, 7.5);
  color: white;

  &:hover {
    background-color: darken($error, 2.5);
    box-shadow: 0px 4px 0px darken($error, 10);
  }
  &:active {
    background-color: darken($error, 10);
    color: white;
  }
}

@mixin input {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: $white;
  border: 2px solid $grey1;
  border-radius: 0px;
  &:focus {
    outline: 3px solid $focus;
  }
  @media screen and (min-width: $breakpoint-m) {
    font-size: 1.1rem;
  }
  &:disabled {
    cursor: not-allowed;
    color: $grey1;
    background: transparentize($grey2, 0.9);
  }
}
