@import "vendor/tagify";

// the flexible multiple select field used for labels

.tagify{
    border-color: $grey1 !important;
    transition: 0s !important;
    @include input;

    &:focus-within{
        outline: 3px solid $focus;
    }
    
    .tagify--focus{
        border-color: $grey1 !important;
    }

    &__input, 
    &__tag-text{
        color: $grey1;
    }

    &__tag > div::before{
        box-shadow: 0 0 0 1.1em $pale inset;
        border-radius: 0px;
    }
}