// colors
$outpostBlue: #2c2d84 !default;
$outpostBlack: #121212 !default;
$grey1: #212121 !default;
$grey2: #343434 !default;
$grey3: #999999 !default;
$grey4: #e2dfd2 !default;
$grey5: #eeeeee !default;
$grey6: #f5f5f5 !default;

$pale: #f7f6f2 !default;
$white: #ffffff !default;
$black: $outpostBlack !default;

$primary: #2c2d84 !default;
$focus: #ffb81c !default;
$error: #a80707 !default;

$green: #9fc63b !default;
$green-dark: #80a02e !default;

$success: #2e8540 !default;

// widths
$max-width: 1100px !default;
$outer-spacing: 20px !default;

// breakpoints
$breakpoint-m: 750px !default;
$breakpoint-l: 1100px !default;

:root {
  --primary: #{$primary};
}
