<div class="read-only-field">
    <p class="read-only-field__label"><%= label %></p>
    <p class="read-only-field__value">
        <% if value.present? %>
            <% if label == 'Registered person reference' %>
              <%= link_to value, admin_ofsted_path(@registered_person_provider) %>
            <% else %>
              <%= value %>
            <% end %>
        <% else %>
            —
        <% end %>
    </p>
</div>