<% if t.present? %>
    <table class="table">
        <thead>
          <th>From</th>
          <th>To</th>
          <th>Max</th>
          <th>Register</th>
        </thead>
        <tbody>
            <% t.each do |r| %>
            <tr>
              <td><%= r["AgeFrom"] %></td>
              <td><%= r["AgeTo"] %></td>
              <td><%= r["MaximumNumber"] %></td>
              <td><%= @item.human_readable_register(r["Register"]) %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p class="no-results">Nothing to show</p>
<% end %>