<% if t.present? %>
    <table class="table">
        <thead>
          <th>Category</th>
          <th>Start date</th>
          <th>End date</th>
        </thead>
        <tbody>
            <% t.each do |r| %>
            <tr>
              <td><%= r["WelfareCategory"] %></td>
              <td><%= format_if_date(r["WelfareStartDate"]) %></td>
              <td><%= format_if_date(r["WelfareEndDate"]) %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p class="no-results">Nothing to show</p>
<% end %>