<% if t.present? %>
    <% showEndDateCol = t.find {|r| r.key?("EndDate") }.present? %>
    <table class="table">
        <thead>
            <th>Status</th>
            <th>Register</th>
            <th>Start date</th>
            <% if showEndDateCol %>
                <th>End date</th>
            <% end %>
        </thead>
        <tbody>
            <% t.each do |r| %>
            <tr>
                <td>
                    <%= r["Status"] %>
                </td>
                <td>
                    <%= @item.human_readable_register(r["Register"]) %>
                </td>
                <td>
                    <%= format_if_date(r["StartDate"]) %>
                </td>
                <% if showEndDateCol %>
                    <td>
                        <%= format_if_date(r["EndDate"]) %>
                    </td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p class="no-results">Nothing to show</p>
<% end %>