<% if t.present? %>
    <table class="table">
        <thead>
          <th>From</th>
          <th>To</th>
          <th>Max</th>
          <th>Register</th>
        </thead>
        <tbody>
            <% t.each do |r| %>
            <tr>
              <td><%= r["from"] %></td>
              <td><%= r["to"] %></td>
              <td><%= r["max"] %></td>
              <td><%= r["register"] %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p class="no-results">Nothing to show</p>
<% end %>