
<% if t.present? %>
    <table class="table">
        <thead>
            <% t.first.map do |key, value| %>
            <th><%= key.humanize %></th>
            <% end %>
        </thead>
        <tbody>
            <% t.each do |r| %>
            <tr>
                <% r.map do |key, value| %>
                <td>
                  <%= format_if_date(value) %>
                </td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <p class="no-results">Nothing to show</p>
<% end %>