<% content_for :header do %>
    <h1 class="page-header__title">Ofsted feed</h1>
    <%= render "shortcut-nav" %>
<% end %>

<h2 class="crosshead">Archived</h2>

<h2 class="crosshead">Changed</h2>

<h2 class="crosshead">New</h2>