<% content_for :header do %>
    <h1 class="page-header__title">Ofsted</h1>
    <%= render "shortcut-nav" %>
<% end %>

<h2 class="crosshead">Changed services</h2>
<p class="no-results">Nothing to show</p>

<h2 class="crosshead">New or deleted services</h2>
<p class="no-results">Nothing to show</p>