<% content_for :header do %>
    <h1 class="page-header__title">Ofsted feed</h1>
    <%= render "shortcut-nav" %>
<% end %>

<% if @new.any? %>
    <h2 class="crosshead">New</h2>
    <% render "admin/ofsted/pending-table", items: @new %>
<% end %>

<% if @changed.any? %>
    <h2 class="crosshead">Changed</h2>
    <% render "admin/ofsted/pending-table", items: @changed %>
<% end %>

<% if @deleted.any? %>
    <h2 class="crosshead">Deleted</h2>
    <% render "admin/ofsted/pending-table", items: @deleted %>
<% end %>
