<% content_for :header do %>    
    <%= link_to "Back to feed", admin_ofsted_index_path, class: "go-back" %>
    <div class="page-header__actions">
      <h1 class="page-header__title two-thirds"><%= @item.provider_name %></h1>
    </div>
<% end %>