            <table>
                <thead>
                    <th>Name</th>
                    <th>Street address</th>
                    <th>Town or area</th>
                    <th>Postcode</th>
                </thead>
                <tbody>

                <tr>
                    <td>#{ r["name"] }</td>
                    <td>#{ r["address_1"] }</td>
                    <td>#{ r["city"] }</td>
                    <td>#{ r["postal_code"] }</td>
                </tr>


                </tbody>
            </table>