<nav class="shortcuts shortcuts--no-bottom-spacing">

  <%= render partial: "shared/shortcuts_item", 
     locals: {
        state: all_state, 
        link: all_link,
        count: all_count,
        label: all_label,
      } %>


    

    <% if APP_CONFIG["directories"].present? %>
    <span class="shortcuts__divider">|</span>

            <% APP_CONFIG["directories"].each_with_index do |directory, index| %>

                 <%= render partial: "shared/shortcuts_item", 
                    locals: {
                        state: params[:directory] === directory["value"], 
                        link: directory_links[directory["value"]],
                        count: directory_counts[directory["value"]][:all],
                        label: directory["value"]
                    } %>
          

                <% if index != APP_CONFIG["directories"].size-1 %>
                    <span class="shortcuts__divider">|</span>
                <% end %>
            <% end %>
        <br />
        <% end %>



</nav>
