<footer class="site-footer">
    <div class="container">

        <nav class="site-footer__menu">
            <a class="site-footer__link" href="https://www.buckinghamshire.gov.uk/about/">About</a>
            <a class="site-footer__link" href="https://www.buckinghamshire.gov.uk/about/accessibility/">Accessibility</a>
            <a class="site-footer__link" href="https://www.buckinghamshire.gov.uk/about/cookies/">Cookies</a>
            <a class="site-footer__link" href="https://www.buckinghamshire.gov.uk/your-council/contact-us/">Contact us</a>
            <a class="site-footer__link" href="https://www.buckinghamshire.gov.uk/community-and-safety/modern-slavery-statement/">Modern slavery statement</a>
            <a class="site-footer__link" href="https://jobs.buckinghamshire.gov.uk/">Jobs</a>
            <a class="site-footer__link" href="https://www.buckinghamshire.gov.uk/coronavirus/martin-tett-coronavirus-update/subscribe-our-newsletter/">Newsletter</a>
        </nav>

        <p class="site-footer__license">
            <%= image_tag "ogl.svg", alt: "Open Government License" %>
            All content is available under the <%= link_to "Open Government Licence v.30", "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" %>, except where otherwise stated
        </p>

        <p class="site-footer__copyright">© 2020 Buckinghamshire Council</p>

    </div>
</footer>