<footer class="site-footer">
    <div class="container">

        <nav class="site-footer__menu">
            <a href="https://familyinfo.buckinghamshire.gov.uk/about/" class="site-footer__link">About the Buckinghamshire Family Information Service</a>
            <a href="https://familyinfo.buckinghamshire.gov.uk/accessibility-statement-/" class="site-footer__link">Accessibility statement</a>
            <a href="https://familyinfo.buckinghamshire.gov.uk/privacy-policy/" class="site-footer__link">Privacy policy</a>
            <a href="https://www.buckinghamshire.gov.uk/about/cookies/" class="site-footer__link">Cookies</a>
            <a href="https://familyinfo.buckinghamshire.gov.uk/publiccustomer-disclaimer/" class="site-footer__link">Public and customer disclaimer</a>
        </nav>

        <p class="site-footer__license">
            <%= image_tag "ogl.svg", alt: "Open Government License" %>
            All content is available under the <%= link_to "Open Government Licence v3.0", "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" %>, except where otherwise stated
        </p>

        <p class="site-footer__copyright">© 2020 Buckinghamshire Council</p>

    </div>
</footer>
