<nav class="shortcuts">
    <%= link_to_unless_current "All", admin_services_path, class: "shortcuts__link" do %>
        <span class="shortcuts__current">All</span>
    <% end %>

    <span class="shortcuts__divider">|</span>

    <%= link_to_unless_current "Pending", admin_requests_path, class: "shortcuts__link" do %>
        <span class="shortcuts__current">Pending</span>
    <% end %>

    <span class="shortcuts__divider">|</span>
    
    <%= link_to_unless_current "Archived", admin_archive_index_path, class: "shortcuts__link" do %>
        <span class="shortcuts__current">Archived</span>
    <% end %>
</nav>