  <% 
    @directory_links = {}

    if APP_CONFIG["directories"].present?
      APP_CONFIG["directories"].each do |directory|
        @directory_links[directory["value"]] = admin_services_path(directory: directory["value"]);
      end
    end

%>
  
  <%= 
  # display the bfis/bod headings
  render partial: "shared/directory-shortcuts",  locals: { 
        all_state: !params[:directory].present?,
        all_link: admin_services_path,
        all_count: @service_counts[:all][:all],
        all_label: "All",
        directory_links: @directory_links,
        directory_counts: @service_counts
  }

%>



<nav class="shortcuts shortcuts--no-top-spacing  shortcuts--sublevel">

<% 

    
    %>   

     <%= render partial: "shared/shortcuts_item", 
     locals: {
        state: params[:ofsted].present? && params[:ofsted] === "true" ? true : false, 
        link: admin_services_path(directory: params[:directory], ofsted: true), 
        count: !params[:directory].present? ? @service_counts[:all][:ofsted] : @service_counts[params[:directory]][:ofsted],
        label: "Ofsted registered"
      } %>

         <%= render partial: "shared/shortcuts_item", 
     locals: {
        state: current_page?(controller: 'admin/requests', action: 'index') ? true : false, 
        link: admin_requests_path(directory: params[:directory]), 
        count: !params[:directory].present? ? @service_counts[:all][:pending] : @service_counts[params[:directory]][:pending],
        label: "Pending"
      } %>
     

         <%= render partial: "shared/shortcuts_item", 
     locals: {
        state: params[:archived].present? && params[:archived] === "true" ? true : false, 
        link: admin_services_path(directory: params[:directory], archived: true), 
        count: !params[:directory].present? ? @service_counts[:all][:archived] :  @service_counts[params[:directory]][:archived],
        label: "Archived"
      } %>
     

</nav>
