<% 
    @directory_links = {}

    if Directory.any?
      Directory.all.each do |directory|
        @directory_links[directory.name] = admin_users_path(directory: directory.name);
      end
    end

%>

<%= 
    # display the bfis/bod headings
    render partial: "shared/directory-shortcuts",  locals: { 
        all_state: !params[:directory].present?,
        all_link: admin_users_path,
        all_count: @user_counts.dig(:all, :all),
        all_label: "All",
        directory_links: @directory_links,
        directory_counts: @user_counts
  }
%>
     
<nav class="shortcuts shortcuts--no-top-spacing  shortcuts--sublevel">

    <% 

    # toggle the active state for the active/deactivated filters
    if params[:deactivated].present? && params[:deactivated] === "true" 
        @sublevel_active_state = false;
        @sublevel_deactivated_state = true;
    elsif params[:deactivated].present? && params[:deactivated] === "false"
        @sublevel_active_state = true;
        @sublevel_deactivated_state = false;
    end

    # decide what the urls will be like for the active/deactivated links
    @sublevel_active_inactive_link = admin_users_path(directory: params[:directory], deactivated: false);
    @sublevel_deactivated_inactive_link = admin_users_path(directory: params[:directory], deactivated: true);


    # decide what the counts will be for the active/deactivated links
    if !params[:directory].present? 
        @sublevel_active_count = @user_counts.dig(:all, :active);
        @sublevel_deactivated_count  = @user_counts.dig(:all, :deactivated);
    elsif
        @sublevel_active_count = @user_counts.dig(params[:directory], :active);
        @sublevel_deactivated_count  = @user_counts.dig(params[:directory], :deactivated);
    end

    %>   

     <%= render partial: "shared/shortcuts_item", 
     locals: {
        state: @sublevel_active_state, 
        link: @sublevel_active_inactive_link, 
        count: @sublevel_active_count,
        label: "Active"
      } %>
     
     <%= render partial: "shared/shortcuts_item", 
     locals: {
        state: @sublevel_deactivated_state, 
        link: @sublevel_deactivated_inactive_link, 
        count: @sublevel_deactivated_count,
        label: "Deactivated"
      } %>
     


</nav>
