<% content_for :header do %>
    <h1 class="page-header__title">Activity log</h1>
<% end %>

<% if @activities.present? %>
  <div class="table-holder">
    <table class="table">
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <%= paginate @activities %>
<% else %>
  <p class="no-results">No activity to show.</p>
<% end %>