<% content_for :header do %>
    <%= link_to "Go back", admin_organisation_path(@organisation), class: "go-back" %>
    <div class="page-header__actions">
      <h1 class="page-header__title two-thirds">
        <%= @organisation.display_name %>
      </h1>
    </div>
<% end %>

<%= render "form" %>