.button{
    @include button;
    // &--outline{
    //     @include outline-button;
    // }
    &--danger{
        @include danger-button;
    }

    &--secondary{
        @include secondary-button;
    }

    &[disabled]{
        background: transparentize($grey1, 0.9);
        box-shadow: 0px 4px 0px $grey3;
        pointer-events: none;
        color: $grey3;
        &:before{
            opacity: 0.4;
        }
    }

    &--add{
        &:before{
            content: "";
            display: inline-block;
            width: 13px;
            height: 13px;
            background: url(asset_path("plus.svg"));
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 13px;
        }
    }
}

.inline-button{
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    display: inline-block;
    font-size: 1rem;
    color: $link;
    margin-bottom: 15px;
    margin-right: 15px;

    @media screen and (min-width: $breakpoint-m){
        font-size: 1.1rem;
    }

    &:hover{
        text-decoration: underline;
    }

    &:focus{
        outline: 3px solid $focus;
        background: $focus;
        color: $grey1;
    }

    &:active{
        color: $grey1;
    }
}