.confirmation-panel{
    border: 3px solid $green;
    text-align: center;
    padding: 35px;
    margin-bottom: 25px;
    @media screen and (min-width: $breakpoint-m) {
        padding: 45px 65px;
        margin-bottom: 35px;
    }

    &__heading{
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 2rem;
        @media screen and (min-width: $breakpoint-m) {
            font-size: 2.5rem;
        }
    }

    &__caption{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 1.7rem;
    }
}

.confirmation-body{
    & *:first-child{
        margin-top: 0px;
    }
}