
*{
    box-sizing: border-box;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

p, label{
    line-height: 1.5;
    color: $grey1;
    @media screen and (min-width: $breakpoint-m){
        font-size: 1.1rem;
    }
}

h1, h2, h3, h4, h5{
    color: $grey1;
    line-height: 1.2;
    margin-top: 35px;
    margin-bottom: 25px;
    font-weight: bold;
    padding-left: 0px;
    @media screen and (min-width: $breakpoint-m){
        font-size: 1.5rem;
    }

    &:first-child{
        margin-top: 0px;
    }
}

a{
    color: $link;
    text-decoration: none;
    &:hover{
        text-decoration: underline
    }
    &:active{
        color: $grey1;
    }
    &:focus{
        color: $grey1;
        outline: 2px solid $focus;
        background: $focus;
    }
}

img{
    max-width: 100%;
    height: auto;
}

fieldset{
    border: none;
    margin: 0;
    padding: 0;
}

ol, ul{
    padding-left: 30px;
    color: $grey1;
    li{
        padding-left: 15px;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0px;
        }
        @media screen and (min-width: $breakpoint-m){
            font-size: 1.1rem;
        }
    }
}

input, textarea, select{
    @include input;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 45px;
    @media screen and (min-width: $breakpoint-m) {
        margin-bottom: 55px;
    }
    th{
        font-weight: bold;
        text-align: left;
        padding: 10px;
    }
    td{
        padding: 15px 10px;
        word-wrap: break-word;
        &:first-of-type a{
            font-weight: bold;
        }
    }
    tbody tr:nth-of-type(odd){
        background: $pale;
    }

    p{
        margin: 0;
    }
}


select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(asset_path("select-down.svg"));
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 45px;
    border-radius: 0px;

    &::-ms-expand {
        display: none;
    }
}


.turbolinks-progress-bar {
    background-color: $focus;
}