.radio{
    position: relative;
    margin-bottom: 15px;

    &__input{
        position: absolute;
        width: 40px;
        height: 40px;
        opacity: 0;
        z-index: -1;

        &:focus{
            outline: none;
            & + label:before{
                outline: 3px solid $focus;
            }
        }
        &:checked + label:after{
            position: absolute;
            content: "";
            display: block;
            height: 26px;
            width: 26px;
            left: 9px;
            top: 50%;
            transform: translateY(-50%);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 100%;
            background: $grey1;
        }

        &[disabled] + label:before{
            background: transparentize($grey1, 0.9);
        }
    }

    &__label{ 
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        &:before{
            content: "";
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 100px;
            background: white;
            border: 2px solid $grey1;
            margin-right: 15px;
            flex-shrink: 0;
        }
    }


    &--with-hint{
        .radio__label{
            display: block;
            padding-top: 7px;
            padding-left: 65px;
            &:before{
                position: absolute;
                left: 0;
                top: 0;
            }
            p{
                margin: 0;
            }
        }

        .radio__input:checked + label::after{
            position: absolute;
            top: 9px;
            left: 9px;
            transform: none;
        }

        p.radio__hint{
            color: $grey2;
            margin-top: 5px;
        }
    }
}