.task-list-summary{
    margin-bottom: 65px;
}

.task-list{
    margin-left: 0px;
    padding-left: 27px;

    &__section{
        padding-left: 20px;
        &::marker{
            font-size: 1.5rem;
            font-weight: bold;
        }
    }

    &__heading{
        margin-bottom: 15px;
    }

    &__sublist{
        list-style: none;
        margin-left: 0px;
        padding-left: 0px;
        margin-bottom: 40px;
        border-top: 1px solid $grey4;
    }

    &__item{
        padding: 15px 0px;
        border-bottom: 1px solid $grey4;
        margin-bottom: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }

    &__tag{
        font-weight: bold;
        padding: 4px 10px;
        background: $grey4;
        font-size: 1rem;
        &--done{
            background: $link;
            color: white;
        }
    }
}