// colors
$grey1: #212121 !default;
$grey2: #343434 !default;
$grey3: #999999 !default;
$grey4: #E2DFD2 !default;
$grey5: #EEEEEE !default;

$pale: #f7f6f2 !default;
$white: #FFFFFF !default;

$link: #2c2d84 !default;
$focus: #FFB81C !default;
$error: #a80707 !default;

$green: #9fc63b !default;
$green-dark: #80a02e !default;

// widths
$max-width: 1200px !default;
$outer-spacing: 20px !default;

// breakpoints
$breakpoint-m: 750px !default;
$breakpoint-l: 1100px !default;