<% content_for :title do %>Feedback sent successfully | <% end %>

<% content_for :header do %>
    <h1 class="page-header__title two-thirds">Your feedback has been sent successfully</h1>
    <p class="page-header__lede">You can now close this tab.</p>
<% end %>

