.big-numbers{
    @media screen and (min-width: $breakpoint-m){
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
    }    
    @media screen and (min-width: $breakpoint-l){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.big-number{
    margin-bottom: 25px;

    &__number{
        font-weight: bold;
        font-size: 2.5rem;
        margin-left: 0;
        margin-bottom: 5px;
        @media screen and (min-width: $breakpoint-m){
            font-size: 3rem;
        }    
    }
    &__caption{
        font-size: 1.1rem;
    }
}