.button{
    @include button;
    &--outline{
        @include outline-button;
    }
    &--danger{
        @include danger-button;
    }
}


.field{
    margin-bottom: 25px;
    @media screen and (min-width: $breakpoint-m){
        margin-bottom: 35px;
    }

    &__label{
        display: block;
        margin-bottom: 7px;

        &--bold{
            font-weight: bold;
            @media screen and (min-width: $breakpoint-m){
                font-size: 1.2rem;
            }
        }
    }

    &__hint{
        margin: 0;
        margin-bottom: 15px;
        color: $grey2;
    }
}

.field-group{
    &--two-cols{
        @media screen and (min-width: $breakpoint-m){
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 35px;
        }
    }
}

.checkbox{
    position: relative;
    margin-bottom: 15px;

    &__input{
        position: absolute;
        width: 40px;
        height: 40px;
        opacity: 0;

        &:focus{
            outline: none;
            & + label:before{
                outline: 3px solid $focus;
            }
        }
        &:checked + label:after{
            position: absolute;
            content: "";
            display: block;
            height: 30px;
            width: 30px;
            left: 7px;
            top: 7px;
            background-image: url(asset_path("tick.svg"));
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__label{ 
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        &:before{
            content: "";
            display: block;
            width: 40px;
            height: 40px;
            border: 2px solid $grey1;
            margin-right: 15px;
        }
    }

    &--level-1{
        margin-left: 25px;
    }
}

.checkbox-group{
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;

    @media screen and (min-width: $breakpoint-m){
        margin-bottom: 35px;
    }
}