.field{
    position: relative;
    margin-bottom: 25px;
    @media screen and (min-width: $breakpoint-m){
        margin-bottom: 35px;
    }

    &__label{
        display: block;
        margin-bottom: 7px;

        &--bold{
            font-weight: bold;
            @media screen and (min-width: $breakpoint-m){
                font-size: 1.2rem;
            }
        }
    }

    &__hint{
        margin: 0;
        margin-bottom: 15px;
        color: $grey2;
    }

    &__prefix{
        position: absolute;
        top: 33px;
        padding: 12px;
        left: 0px;
        pointer-events: none;
    }

    &__input{

        &--with-prefix{
            padding-left: 23px;
        }
    }

    &__word-counter{
        font-size: 0.9rem;
        color: $grey2;
        margin: 0;
        margin-top: 5px;
    }
}

.field-group{
    &--two-cols,
    &--three-cols{
        @media screen and (min-width: $breakpoint-m){
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 25px;
        }
    }
    &--three-cols{
        @media screen and (min-width: $breakpoint-m){
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &--no-margins{
        @media screen and (min-width: $breakpoint-m){
            .field{
                margin-bottom: 0px;
            }
        }
    }

    &__legend{
        margin-top: 0px;
        margin-bottom: 15px;
    }
}

.checkbox{
    position: relative;
    margin-bottom: 15px;

    &__input{
        position: absolute;
        width: 40px;
        height: 40px;
        opacity: 0;
        z-index: -1;

        &:focus{
            outline: none;
            & + label:before{
                outline: 3px solid $focus;
            }
        }
        &:checked + label:after{
            position: absolute;
            content: "";
            display: block;
            height: 26px;
            width: 26px;
            left: 9px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(asset_path("tick.svg"));
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        &[disabled] + label:before{
            background: transparentize($grey1, 0.9);
        }
    }

    &__label{ 
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        &:before{
            content: "";
            display: block;
            width: 40px;
            height: 40px;
            background: white;
            border: 2px solid $grey1;
            margin-right: 15px;
            flex-shrink: 0;
        }
    }

    &.checkbox--small{
        margin-bottom: 10px;

        .checkbox__label:before{
            width: 25px;
            height: 25px;
        }

        .checkbox__input{
            width: 25px;
            height: 25px;
            &:checked + label:after{
                height: 18px;
                width: 18px;
                left: 6px;
            }
        }
    }

    &--level-1{
        margin-left: 25px;
    }
}

.checkbox-group{
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;

    @media screen and (min-width: $breakpoint-m){
        margin-bottom: 35px;
    }
}

.form-actions{
    margin-top: 45px;
    @media screen and (min-width: $breakpoint-m) {
        margin-top: 55px;
    }
}