// resets and global styles

@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    color: $text;
}

a{
    color: $link;
    text-decoration: none;
    &:hover{
        text-decoration: underline
    }
    &:active{
        color: $text
    }
    &:focus{
        color: $text;
        outline: 2px solid $focus;
        background: $focus;
    }
}

p{
    line-height: 1.5;
}

h1, h2, h3, h4, h5 {
    line-height: 1;
}

ol, ul{
    margin-left: 25px;
}

img{
    max-width: 100%;
    height: auto;
}

li{
    padding-left: 15px;
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0px;
    }
}

.turbolinks-progress-bar {
    background-color: $focus;
}

*::-moz-focus-inner {
    border: 0;
}

.visually-hidden{
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}