
*{
    box-sizing: border-box;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

p, label{
    line-height: 1.5;
    color: $grey1;
    @media screen and (min-width: $breakpoint-m){
        font-size: 1.1rem;
    }
}

h1, h2, h3, h4, h5{
    color: $grey1;
    line-height: 1.1;
    margin-top: 35px;
    margin-bottom: 25px;
    @media screen and (min-width: $breakpoint-m){
        font-size: 1.5rem;
    }
}

a{
    color: $link;
    text-decoration: none;
    &:hover{
        text-decoration: underline
    }
    &:active{
        color: $grey1;
    }
    &:focus{
        color: $grey1;
        outline: 2px solid $focus;
        background: $focus;
    }
}

img{
    max-width: 100%;
    height: auto;
}

ol, ul{
    margin-left: 25px;
    color: $grey1;
    li{
        padding-left: 15px;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0px;
        }
        @media screen and (min-width: $breakpoint-m){
            font-size: 1.1rem;
        }
    }
}

input, textarea{
    width: 100%;
    max-width: 100%;
    padding: 10px;
    font-size: 1rem;
    background: $white;
    border: 2px solid $grey1;
    border-radius: 0px;
    &:focus{
        outline: 3px solid $focus;
    }
    @media screen and (min-width: $breakpoint-m) {
        font-size: 1.1rem;
    }
    &:disabled{
        background: transparentize($grey2, 0.9);
    }
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 45px;
    @media screen and (min-width: $breakpoint-m) {
        margin-bottom: 55px;
    }
    th{
        font-weight: bold;
        text-align: left;
        padding: 10px;
    }
    td{
        padding: 15px 10px;
        word-wrap: break-word;
        &:first-of-type a{
            font-weight: bold;
        }
    }
    tbody tr:nth-of-type(odd){
        background: $pale;
    }

    p{
        margin: 0;
    }
}