.go-back{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    margin-bottom: 25px;

    &:before{
        content: "";
        display: inline-block;
        height: 15px;
        width: 10px;
        margin-right: 10px;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='20' viewBox='0 0 13 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.17157 9.99985L9.58578 0.585636L12.4142 3.41406L5.82842 9.99985L12.4142 16.5856L9.58578 19.4141L0.17157 9.99985Z' fill='%232C2D84'/%3E%3C/svg%3E%0A");
    }

    &:active:before, 
    &:focus:before{
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='20' viewBox='0 0 13 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.17157 9.99985L9.58578 0.585636L12.4142 3.41406L5.82842 9.99985L12.4142 16.5856L9.58578 19.4141L0.17157 9.99985Z' fill='%23212121'/%3E%3C/svg%3E%0A");
    }

    @media screen and (min-width: $breakpoint-m) {
        font-size: 1.1rem;
        &:before{
            height: 17px;
            width: 12px;
        }
    }
}