.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.page-content{
    padding: 40px 20px 50px 20px;
    @media screen and (min-width: $breakpoint-m){
        padding: 50px 20px 100px 20px;
    }
}

.two-thirds{
    @media screen and (min-width: $breakpoint-m){
        max-width: 66.67%;
    }
}

.one-half{
    @media screen and (min-width: $breakpoint-m){
        max-width: 50%;
    }
}