// helper classes for building layouts

@import "variables";

.container{
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

.two-thirds{
    @media screen and (min-width: $breakpoint-m){
        max-width: 66.67%;
    }
}

.one-third{
    @media screen and (min-width: $breakpoint-m){
        max-width: 33.33%;
    }
}

.page-header{
    padding: 40px $outer-spacing;
    @media screen and (min-width: $breakpoint-m){
        padding: 60px $outer-spacing;
    }
    .page-header__caption{
        margin-bottom: 20px;
        font-weight: bold;
        color: transparentize($text, 0.25);
        @media screen and (min-width: $breakpoint-m){
            font-size: 1.1rem;
        }
    }
    .page-header__title{
        font-size: 2.5rem;
        @media screen and (min-width: $breakpoint-m){
            font-size: 3.5rem;
        }
    }
    .page-header__lede{
        margin-top: 40px;
        font-size: 1.2rem;
    }
    &.page-header--full-width{
        padding: 25px 20px;
        .page-header__title{
            font-size: 2rem;
            margin-bottom: 0px;
        }
    }
}

.page-content{
    padding: 0px $outer-spacing 50px $outer-spacing;
    @media screen and (min-width: $breakpoint-m){
        padding-bottom: 80px;
    }
}

.actions{
    margin-bottom: 35px;

    .button{
        margin-bottom: 10px;
    }

    &__pull-right{
        display: inline-block;
        width: auto;
    }

    @media screen and (min-width: $breakpoint-m){
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .button--inline{
            margin-bottom: 0px;
        }


        &__pull-right{
            margin-left: auto;
        }
        &__group{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }
    }
}

.bottom-margin{
    margin-bottom: 25px;
}

.small-bottom-margin{
    margin-bottom: 10px;
}

.right-margin{
    margin-right: 15px;
}

.align-right{
    text-align: right;
}

.table-holder{
    overflow-x: auto;
    @media screen and (min-width: $breakpoint-l){
        overflow-x: inherit;
    }
}

.with-sidebar{
    .two-thirds{
        margin-bottom: 45px;
    }

    @media screen and (min-width: $breakpoint-m){
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .two-thirds{
            margin-right: 80px;
            flex: 2;
            width: 66.66%;
            margin-bottom: 0px;
        }
    
        .with-sidebar__sidebar{
            width: 33.33%;
            flex: 1;
        }
    }  


    &.with-sidebar--left{
        .with-sidebar__sidebar{
            margin-bottom: 45px;
        }

        @media screen and (min-width: $breakpoint-m){
            align-items: inherit;
            .two-thirds{
                margin-right: 0px;
            }
        
            .with-sidebar__sidebar{
                margin-right: 80px;
                margin-bottom: 0px;
            }
        }
    }

}

.shortcuts{
    margin-top: 40px;
    line-height: 1.5;

    .shortcuts__link,
    .shortcuts__current{
        font-size: 1.1rem;
        @media screen and (min-width: $breakpoint-m){
            font-size: 1.3rem;
        }
    }
    .shortcuts__count{
        margin-left: 5px;
        color: transparentize($text, 0.7);
        font-size: 1.1rem;
        @media screen and (min-width: $breakpoint-m){
            font-size: 1.3rem;
        }
    }
    .shortcuts__link{
        font-weight: bold;
    }
    .shortcuts__divider{
        margin-left: 7px;
        margin-right: 7px;
        color: transparentize($text, 0.7);
        @media screen and (min-width: $breakpoint-m){
            margin-left: 12px;
            margin-right: 12px;
        }
    }
}

.crosshead{
    margin-bottom: 25px;
}

.dark-panel{
    padding: 35px;
    margin-bottom: 65px;
    background: $link;
    p{
        color: $white;
        margin-bottom: 10px;
    }
    a{
        color: $white;  
        &:hover{
            text-decoration: underline;
        }
        &:focus, &:active{
            color: $text;
        }
    }
    p:last-child{
        margin-bottom: 0px;
    }
}

.taxonomy-tree{
    margin-left: 0px;
    list-style: none;
    font-size: 1.1rem;
    ul{
        margin-left: 25px;
    }
    &__item--depth-0{
        font-weight: bold;
        .taxonomy-tree__count{
            display: none;
        }
    }
    .taxonomy-tree__count{
        font-weight: normal;
        margin-left: 5px;
        color: $grey;
    }
}

.help-button{
    display: none;
    @media screen and (min-width: $breakpoint-m){
        position: absolute;
        top: 0px;
        right: 40px;
        display: inline-block;
        height: 25px;
        width: 25px;
        font-size: 0;
        border: 3px solid $text;
        border-radius: 100%;
        opacity: 0.33;
        background: none;
        &:after{
            content: "?";
            font-size: 1rem;
            font-weight: bold;
        }
        &:hover, &:focus{
            opacity: 0.5;
        }
        &:focus{
            opacity: 1;
            border-color: $focus;
            color: $focus;
        }

        &--small{
            margin-left: 5px;
            height: 20px;
            width: 20px;
            position: inherit;
            border-width: 2.5px;
            &:after{
                font-size: 0.8rem;
            }
        }
    }
}

.tippy-box {
    border-radius: 0px;
    .tippy-content{
        max-width: 250px;
        background-color: $text;
        color: $white;
    }
    .tippy-arrow {
        color: $text;
    }
}

.taxonomies-bulk-action{
    font-size: 0.9rem;
    float: right;
    color: $link;
    background: none;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
    &:focus{
        background: $focus;
        outline: 3px solid $focus;
    }
    &:active{
        color: $text;
    }
}


.danger-zone{
    border: 2px solid $error;
    background: transparentize($error, 0.9);
    padding: 25px;
    margin-bottom: 65px;
    h2{
        margin-bottom: 10px;
    }

    p{
        margin-bottom: 20px;
    }
    .field{
        margin-bottom: 0px;
    }
}