// helper classes for building layouts

@import "variables";

.container{
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

.two-thirds{
    @media screen and (min-width: $breakpoint-m){
        max-width: 66.67%;
    }
}

.one-third{
    @media screen and (min-width: $breakpoint-m){
        max-width: 33.33%;
    }
}

.page-header{
    padding: 40px $outer-spacing;
    @media screen and (min-width: $breakpoint-m){
        padding: 60px $outer-spacing;
    }
    .page-header__caption{
        margin-bottom: 20px;
        font-weight: bold;
        color: transparentize($text, 0.25);
        @media screen and (min-width: $breakpoint-m){
            font-size: 1.1rem;
        }
    }
    .page-header__title{
        font-size: 2.5rem;
        @media screen and (min-width: $breakpoint-m){
            font-size: 3.5rem;
        }
    }
    .page-header__lede{
        margin-top: 40px;
        font-size: 1.2rem;
    }
    &.page-header--full-width{
        padding: 25px 20px;
        .page-header__title{
            font-size: 2rem;
            margin-bottom: 0px;
        }
    }
}

.page-content{
    padding: 0px $outer-spacing 50px $outer-spacing;
    @media screen and (min-width: $breakpoint-m){
        padding-bottom: 80px;
    }
}

.actions{
    margin-bottom: 25px;
    @media screen and (min-width: $breakpoint-m){
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .actions__group{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
        }
    }
}

.table-holder{
    overflow-x: auto;
    @media screen and (min-width: $breakpoint-l){
        overflow-x: inherit;
    }
}

.with-sidebar{
    .two-thirds{
        margin-bottom: 45px;
    }

    @media screen and (min-width: $breakpoint-m){
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .two-thirds{
            margin-right: 80px;
            flex: 2;
            width: 66.66%;
            margin-bottom: 0px;
        }
    
        .with-sidebar__sidebar{
            width: 33.33%;
            flex: 1;
        }
    }  


    &.with-sidebar--left{
        .with-sidebar__sidebar{
            margin-bottom: 45px;
        }

        @media screen and (min-width: $breakpoint-m){
            align-items: inherit;
            .two-thirds{
                margin-right: 0px;
            }
        
            .with-sidebar__sidebar{
                margin-right: 80px;
                margin-bottom: 0px;
            }
        }
    }

}

.shortcuts{
    margin-top: 40px;

    .shortcuts__link,
    .shortcuts__current{
        font-size: 1.1rem;
        @media screen and (min-width: $breakpoint-m){
            font-size: 1.3rem;
        }
    }
    .shortcuts__link{
        font-weight: bold;
    }
    .shortcuts__divider{
        margin-left: 7px;
        margin-right: 7px;
        color: transparentize($text, 0.8);
        @media screen and (min-width: $breakpoint-m){
            margin-left: 12px;
            margin-right: 12px;
        }
    }
}