@mixin button{
    background: $green;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    box-shadow: 0px 4px 0px $green-dark;
    width: 100%;
    text-align: center;
    padding: 12px 45px;
    color: $grey1;
    cursor: pointer;
    text-decoration: none;
    @media screen and (min-width: $breakpoint-m) {
        font-size: 1.2rem;
        width: inherit;
    }

    &:hover{
        background: darken($green, 2.5);
        box-shadow: 0px 4px 0px darken($green-dark, 2.5);
        text-decoration: none;
    }
    &:active{
        background: darken($green, 5);
        box-shadow: none;
        transform: translateY(4px);
    }

    &:focus{
        outline: none;
        background: $focus;
        box-shadow: 0px 4px 0px $grey1;
    }
}