.site-nav{
    background: $pale;
    padding: 10px $outer-spacing;
    @media screen and (min-width: $breakpoint-m) {
        font-size: 1.1rem;
    }

    &__inner{
        @media screen and (min-width: $breakpoint-m) {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    &__link, 
    &__current{
        display: inline-block;
        margin: 5px 15px 5px 0px;
        font-weight: bold;
        @media screen and (min-width: $breakpoint-m) {
            margin-right: 20px;
        }
    }

    &__current{
        font-weight: normal;
        &:focus{
            outline: none;
        }
    }

    &__pull-right{
        .site-nav__link, 
        .site-nav__current{
            margin-right: 0px;
        }

        @media screen and (min-width: $breakpoint-m) {
            margin-left: auto;
            margin-right: 0px;
        }
    }
    
    &__submenu-holder{
        position: relative;
        display: inline-block;

        &:hover .site-nav__submenu, 
        &:focus-within .site-nav__submenu{
            display: block;
        }

        &--with-badge{
            margin-right: 15px;
            @media screen and (min-width: $breakpoint-m) {
                margin-right: 20px;
            }
            a, span{
                margin-right: 0px;
            }
        }
    }

    &__submenu{
        display: none;
        list-style: none;
        position: absolute;
        left: 0px;
        top: 100%;
        background: $white;
        border: 1px solid $grey4;
        z-index: 2;
        width: 155px;
        margin: 0;
        padding-left: 0;
    }

    &__submenu-item{
        padding: 0px;
        margin-bottom: 0px;
    }

    &__submenu-link{
        display: block;
        padding: 15px 20px;
        font-size: 0.9rem;
        font-weight: normal;
        cursor: pointer;
        &:hover{
            background: $pale;
            text-decoration: none;
        }
        &:focus{
            outline: none;
        }
        @media screen and (min-width: $breakpoint-m) {
            font-size: 1rem;
        }
    }

    &__submenu-current{
        display: block;
        padding: 15px 20px;
        font-size: 0.9rem;
        font-weight: normal;
        @media screen and (min-width: $breakpoint-m) {
            font-size: 1rem;
        }
    }
}

.badge{
    display: inline-block;
    background: $error;
    border-radius: 20px;
    padding: 2px 6.4px;
    font-size: 0.8rem;
    color: $white;
    margin-left: 2px;
    transform: translateY(-2px);
}