.table-holder{
    overflow-x: auto;
    margin-bottom: 45px;

    table{
        margin-bottom: 0px;
    }
    @media screen and (min-width: $breakpoint-m) {
        margin-bottom: 55px;
    }
    @media screen and (min-width: $breakpoint-l){
        overflow-x: inherit;
    }
}

.table{
    &__small{
        font-size: 0.9rem;
        color: $grey2;
    }
}

.taxonomy{
    display: inline-block;
    background: transparentize($link, 0.9);
    font-size: 0.75rem;
    padding: 2px 5px;
    color: $link;
    border-radius: 2px;
    margin: 3px;
    margin-left: 0px;
    &:focus{
        background: transparentize($focus, 0.9);
        outline: none;
        box-shadow: 0px 0px 0px 3px $focus;
    }
}

.table-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $grey2;
    font-size: 0.9rem;
    &:before{
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 5px;
        background-image: url(asset_path("note-icon.svg"));
    }
}

.sort{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    img{
        margin-left: 7px;
        display: block;
        height: 8px;
        margin-bottom: 2px;
    }
}