.user-circle{
    background: $link;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    color: $white;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    position: relative;
}