// colors
$grey1: #212121;
$grey2: #343434;
$grey3: #999999;
$grey4: #E2DFD2;

$pale: #f7f6f2;
$white: #FFFFFF;

$link: #2c2d84;
$focus: #FFB81C;
$error: #a80707;

$green: #9fc63b;
$green-dark: #80a02e;

// widths
$max-width: 1200px;
$outer-spacing: 20px;

// breakpoints
$breakpoint-m: 750px;
$breakpoint-l: 1100px;