$text: #212121;
$grey: #343434;
$pale: #f7f6f2;
$white: #FFFFFF;

$link: #2c2d84;
$focus: #FFB81C;
$error: #d51010;

$max-width: 1200px;
$outer-spacing: 20px;

$breakpoint-m: 750px;
$breakpoint-l: 1000px;