@import "variables";

.alert{
    background: transparentize($focus, 0.9);
    padding: 25px;
    border-left: 5px solid $focus;
    margin-bottom: 40px;
    &.alert--yellow{
        background: transparentize($link, 0.9);
        border: none;
    }
    p{
        margin-bottom: 10px;
    }
    .alert__action{
        font-weight: bold;
    }
    @media screen and (min-width: $breakpoint-m) {
        font-size: 1.1rem;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        p{
            margin-bottom: 0px;
        }
        .alert__action{
            margin-left: 25px;
        }
    }
}

.important{
    background: $pale;
    padding: 25px;
    border-left: 5px solid $link;
    margin-bottom: 40px;
    @media screen and (min-width: $breakpoint-m) {
        margin-bottom: 50px;
    }
    *:last-child{
        margin-bottom: 0px;
    }
}

.notice{
    background: $link;
    padding: 25px 30px;
    color: $white;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1rem;
    @media screen and (min-width: $breakpoint-m) {
        padding: 25px 35px 25px 40px;
        font-size: 1.2rem;
        margin-bottom: 55px;
    }
    .notice-body{
        flex: 1;
    }
    p{
        color: $white;
        flex: 1;
    }
    &:before{
        content: "";
        display: inline-block;
        height: 35px;
        width: 35px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 25px;
        @media screen and (min-width: $breakpoint-m) {
            margin-right: 30px;
        }
    }
    &.notice--administrator:before{
        background-image: url(asset_path("tick-circle.svg"));
    }
    &.notice--cross:before{
        background-image: url(asset_path("cross-circle.svg"));
    }
    &.notice--pending:before{
        background-image: url(asset_path("pending-circle.svg"));
    }
    &.notice--exclamation:before{
        background-image: url(asset_path("exclamation-circle.svg"));
    }
    .notice__divider{
        margin-left: 7px;
        margin-right: 7px;
        color: transparentize($white, 0.5);
        @media screen and (min-width: $breakpoint-m){
            margin-left: 12px;
            margin-right: 12px;
        }
    }
    .notice__action{
        display: inline-block;
        margin-top: 10px;
        color: $white;
        font-weight: bold;
        &:focus{
            color: $link;
        }
        &:active{
            color: $text;
        }
    }
}