@import "variables";

.two-panels{
    @media screen and (min-width: $breakpoint-m){
        display: flex;
        flex-direction: row;
    }
}

.panel{
    margin-bottom: 45px;
    &:last-of-type{
        margin-bottom: 0px;
    }
    @media screen and (min-width: $breakpoint-m){
        margin-right: 80px;
        margin-bottom: 0px;
        width: 50%;
        &:last-of-type{
            margin-right: 0px;
        }
    }
    .panel__title{
        margin-bottom: 25px;
    }
}

.big-bottom-margin{
    margin-bottom: 40px;
    @media screen and (min-width: $breakpoint-m){
        margin-bottom: 60px;
    }
}

.no-results{
    font-size: 1.3rem;
    color: $grey;
    margin: 55px auto;
    text-align: center;
}

.big-numbers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.big-number{
    width: calc(50% - 12.5px);
    margin-right: 25px;
    margin-bottom: 25px;
    &:nth-of-type(even){
        margin-right: 0px;
    }
    .big-number__number{
        font-size: 2.5rem;
        font-weight: bold;
    }
    .big-number__caption{
        margin-top: 5px;
        font-size: 0.9rem;
    }
    @media screen and (min-width: $breakpoint-m){
        width: calc(25% - 18.75px);
        &:nth-of-type(even){
            margin-right: 25px;
        }
        &:last-of-type{
            margin-right: 0px;
        }
        .big-number__number{
            font-size: 3rem;
        }
        .big-number__caption{
            font-size: 1rem;
        }
    }
}
