.diff {
	overflow: auto;
	ul {
		background: $pale;
		overflow: auto;
		list-style: none;
		margin: 0;
		padding: 0;
		display: table;
		width: 100%;
	}
	del {
		padding: 5px;
		display: block;
		text-decoration: none;
		white-space: pre-wrap;
		strong {
			font-weight: normal;
			background: transparentize($error, 0.7);
		}
	}
	ins {
		padding: 5px;
		display: block;
		text-decoration: none;
		white-space: pre-wrap;
		strong {
			font-weight: normal;
			background: transparentize($green, 0.7);
		}
	}
	li {
		padding: 0;
		display: table-row;
		margin: 0;
		height: 1em;
	}
	li.ins {
		background: transparentize($green, 0.8);
		color: $green;
	}
	li.del {
		background: transparentize($error, 0.8);
		color: $error;
	}
	span {
		white-space: pre-wrap;
	}
	li.diff-comment {
		display: none;
	}
	li.diff-block-info {
		background: none repeat scroll 0 0 $pale;
	}
}
