@import "variables";

.site-footer{
    background: $text;
    padding: 60px $outer-spacing;
    @media screen and (min-width: $breakpoint-m){
        padding: 80px $outer-spacing;
    }
    *{
        color: $white;
    }
}