@import "variables";

.site-header{
    background: $link;
    color: $white;
    padding: 10px $outer-spacing;

    .site-header__inner{
        max-width: $max-width;
        margin-left: auto;
        margin-right: auto;
        @media screen and (min-width: $breakpoint-m){
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .site-header__masthead{
        margin-bottom: 10px;
        @media screen and (min-width: $breakpoint-m){
            width: 33%;
            display: inline-block;
            margin-bottom: 0px;
        }
    }

    .site-header__logo-link{
        display: inline-block;
        background: inherit;
        &:focus{
            outline: none;
        }
        &:focus-within img{
            outline: 3px solid $focus;

        }
    }

    .site-header__logo{
        height: 40px;
        @media screen and (min-width: $breakpoint-m){
            height: 45px
        }
    }


    .site-header__service-name-holder{
        display: none;
        @media screen and (min-width: $breakpoint-l){
            display: inline-flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .site-header__service-name{
        font-weight: bold;
        font-size: 1.1rem;
        color: $white;
        text-decoration: none;
        @media screen and (min-width: $breakpoint-m){
            font-size: 1.5rem;
        }
        &:hover{
            text-decoration: underline;
        }
        &:focus{
            outline: 3px solid $focus;
            background: $focus;
            color: $text;
        }
    }

    .site-header__actions{
        margin-left: auto;
        @media screen and (min-width: $breakpoint-m) {
            font-size: 1.1rem;
        }
    }

    .site-header__link{
        font-weight: bold;
        color: white;
        &:active, &:focus{
            color: $text;
        }
    }

    .site-header__phase-tag{
        color: $text;
        background: $focus;
        text-transform: uppercase;
        font-weight: bold;
        padding: 2px 5px;
        margin-left: 10px;
        font-size: 0.9rem;
        letter-spacing: 0.5px;
        text-decoration: none !important;
    }

    .site-header__username{
        display: none;
        @media screen and (min-width: $breakpoint-m) {
            display: inline-block;
            margin-right: 10px;
            color: $white;
        }
    }
}