@import "variables";

.tagify{
    border-color: $text;
    transition: 0s !important;

    &:focus-within{
        outline: 3px solid $focus;
    }
    
    .tagify--focus{
        border-color: $text;
    }

    .tagify__input, .tagify__tag-text{
        color: $text;
    }

    .tagify__tag > div::before{
        box-shadow: 0 0 0 1.1em $pale inset;
        border-radius: 0px;
    }
}