.tabs{
    .tabs__nav{
        margin: 0;
        margin-bottom: 25px;
    }
    .tabs__nav-item{
        padding: 0;
        display: inline-block;
        margin-right: 15px;
    }
    .tabs__nav-link{
        font-weight: bold;
        &[aria-selected=true]{
            pointer-events: none;
            color: $text;
            font-weight: normal;
            &:focus{
                background: none;
                outline: none;
            }
        }
    }
}

.choices{
    border: 2px solid $text;
    background: none;
    padding: 0px;
    .choices__inner{
        background: none;
        border: none;
        padding: 10px;
    }
    .choices__input{
        background: none;
    }
    .choices__list--multiple .choices__item{
        background: $link;
        border: none;
        font-size: 1rem;
        border-radius: 0px;
        &:hover{
            background: darken($link, 10);
        }
        &.is-highlighted{
            background: $focus;
            border: none;
            color: $text;
        }
    }
    &.is-focused{
        outline: 3px solid $focus;
    }
}