@import "variables";

.location-search{
    .location-search__results{
        list-style: none;
        margin: 0;
        margin-bottom: 25px;
    }
    .location-search__result{
        position: relative;
        background: $pale;
        padding: 35px;
        margin-bottom: 10px;
        animation: fadeIn 0.3s ease-out;
        border: 1px solid $card-shadow;

        @keyframes fadeIn{
            from{
                opacity: 0;
            }
            to{
                opacity: 1;
            }
        }

        .checkbox__input:before{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            content: "";
        }

    }

    .location-search__prompt,
    .location-search__no-results{
        color: $grey;
        padding: 15px;
        text-align: center;
        margin-bottom: 25px;
    }

    .location-search__closer{
        position: absolute;
        right: 5px;
        top: 5px;
        background: none;
        border: none;
        cursor: pointer;
        &:focus{
            background: $focus;
        }
        img{
            display: block;
            height: 30px;
            width: 30px;
        }
    }

    .location-search__name{
        margin-bottom: 7px;
    }
    .location-search__address{
        color: $grey;
        font-size: 0.9rem;
    }
    // .location-search__count{
    //     font-size: 0.9rem;
    //     color: $grey;
    // }
}