@import "variables";

.site-nav{
    background: $pale;
    padding: 15px $outer-spacing;
    @media screen and (min-width: $breakpoint-m) {
        font-size: 1.1rem;
    }

    .site-nav__link, .site-nav__current{
        margin-right: 15px;
    }
    
    .site-nav__link{
        display: inline-block;
        font-weight: bold;
    }
}