@import "variables";

.poppable{
    position: relative;
    &:hover .poppable-card{
        display: block;
    }
}

@keyframes pop {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.poppable-card{
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 350px;
    display: none;
    padding-bottom: 10px;
    animation: pop 0.01s ease-out;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    opacity: 0;

    .poppable-card__inner{
        width: 100%;
        padding: 20px;
        background: $white;
        border: 1px solid $card-shadow;
        &:before{
            content: "";
            display: block;
            border-style: solid;
            position: absolute;
            border-color: $card-shadow transparent transparent transparent;
            border-width: 11px 11px 0px 11px;
            bottom: 0px;
        }
        &:after{
            content: "";
            display: block;
            border-color: $white transparent transparent transparent;
            border-style: solid;
            border-width: 10px 10px 0px 10px;
            bottom: 1.5px;
            position: absolute;
            left: 22px;
        }
    }


    .poppable-card__headline{
        font-size: 1.1rem;
        margin-bottom: 10px;
        line-height: 1.2;
    }

    .poppable-card__tag{
        margin-left: 7px;
        border: $link;
        background: $link;
        border-radius: 2px;
        padding: 2px 5px;
        color: $white;
        font-size: 0.8rem;
        font-weight: normal;
    }

    .poppable-card__body{
        color: $grey;
        font-size: 0.9rem;
        font-weight: normal;
    }

    .poppable-card__footer{
        font-weight: normal;
        margin-top: 10px;
        color: $grey;
        font-size: 0.9rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .poppable-card__count{
        margin-right: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $grey;
        &:before{
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 5px;
        }
        &.poppable-card__count--services{
            &:before{
                background-image: url(asset_path("service-icon.svg"));
            }
        }
        &.poppable-card__count--users{
            &:before{
                background-image: url(asset_path("user-icon.svg"));
            }
        }
        &.poppable-card__count--watches{
            &:before{
                background-image: url(asset_path("watch-icon.svg"));
            }
        }
        &.poppable-card__count--locations{
            &:before{
                background-image: url(asset_path("location-icon.svg"));
            }
        }
        &.poppable-card__count--notes{
            &:before{
                background-image: url(asset_path("note-icon.svg"));
            }
        }
    }
}