@import "variables";

.stepper{
    list-style: none;
    margin-left: 0px;

    .stepper__link{
        display: block;
        text-decoration: none;
        &:hover{
            background: $pale;
        }
        &:focus{
            background: inherit;
            outline:3px solid $focus;
        }
    }

    .stepper__time{
        margin-top: 5px;
        font-size: 0.9rem;
        color: $grey;
    }

    .stepper__step{
        position: relative;
        margin-bottom: 0px;
        padding: 0px 0px 20px 50px;
        // stick
        &:before{
            content: "";
            display: block;
            position: absolute;
            left: 7.5px;
            top: 15px;
            border-left: 2px solid $text;
            height: 100%;
        }
        &:last-of-type{
            padding-bottom: 0px;
            &:before{
                content: none;
            }
        }
        // circle
        &:after{
            content: "";
            display: block;
            position: absolute;
            left: 0px;
            top: 5px;
            width: 13px;
            height: 13px;
            border: 2px solid $text;
            border-radius: 200px;
            background: $white;
            z-index: 2;
        }
    }

    .stepper__step--solid{
        &:after{
            background: $text;
        }
    }
    .stepper__step--cross{
        &:after{
            background: $text;
            width: 5px;
            height: 5px;
            top: 8px;
            left: 4px;
        }
    }
    .stepper__step--tick{
        &:after{
            background-color: $text;
            background-image: url(asset_path("tick-white.svg"));
            background-size: 75%;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &.stepper--summarised{
        .stepper__step:nth-last-child(2):before{
            border-left: 2px dashed $text;
        }
    }
}

.full-height{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.snapshots{
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    border-top: 1px solid $card-shadow;

    .snapshots__sidebar{
        width: 350px;
        overflow-y: scroll;
    }

    .snapshots__previews{
        background: $pale;
        flex: 1;
        padding: 0px 35px 35px 35px;
        overflow-y: scroll;
        border-left: 1px solid $card-shadow;
    }
}


.snapshots-tree{
    list-style: none;
    margin: 0px;

    .snapshots-tree__snapshot{
        position: relative;
        padding: 25px;
        border-bottom: 1px solid $card-shadow;
        margin-bottom: 0px;
        color: $grey;
        &:hover{
            background: $pale;
        }
        &:focus-within{
            background: $focus;
        }
        &[aria-selected]{
            background: $pale;
            pointer-events: none;
            border-right: none;
            .snapshots-tree__snapshot-link{
                color: $text;
            }
        }
    }

    .snapshots-tree__snapshot-title{
        margin-bottom: 5px;
    }
    .snapshots-tree__snapshot-link{
        &:hover{
            text-decoration: none;
        }
        &:focus{
            background: none;
            outline: none;
        }
        &:after{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            display: block;
            content: "";
        }
    }
    .snapshots-tree__snapshot-user{
        font-size: 0.9rem;
    }
    .snapshots-tree__snapshot-action{
        margin-top: 5px;
        font-size: 0.7rem;
        text-transform: uppercase;
        padding: 3px 5px;
        border-radius: 2px;
        display: inline-block;
        background: transparentize($grey, 0.9);
        font-weight: bold;
    }
}

.snapshot-preview{
    padding-top: 35px;
    .snapshot-preview__actions{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }
    .snapshot-preview__canvas{
        padding: 55px;
        background: $white;
        box-shadow: 0px 4px 10px transparentize($card-shadow, 0.5);
        margin-bottom: 35px;
        *:last-child{
            margin-bottom: 0px;
        }
    }
    .snapshot-preview__label{
        font-weight: bold;
        font-size: 1.1rem;
        margin-bottom: 7px;
    }
    .snapshot-preview__diff{
        margin-bottom: 35px;
    }
    .snapshot-preview__key{
        margin-top: 10px;
        font-size: 0.9rem;
    }
    .changed{
        display: inline-block;
        padding: 0px 5px;
        background: transparentize($link, 0.9);
        color: darken($link, 10);
    }

    del.differ{
        display: inline-block;
        padding: 0px 5px;
        color: darken($error, 10);
        background: transparentize($error, 0.9);
    }
    ins.differ{
        display: inline-block;
        padding: 0px 5px;
        color: darken($green, 10);
        background: transparentize($green, 0.9);
        text-decoration: none;
    }

    table{
        width: 100%;
        border-collapse: collapse;
        th, td{
            padding: 5px 0px;
            text-align: left;
        }
        th{
            font-size: 0.9rem;
        }
        tbody tr:nth-of-type(odd){
            background: $pale;
        }
    }
}