@import "variables";

table{
    border-collapse: collapse;
    th{
        font-weight: bold;
        text-align: left;
        padding: 10px;
        &.with-sort{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    td{
        padding: 10px;
        width: 17%;
        white-space: break-word;
        &:first-of-type{
            font-weight: bold;
        }
    }
    tr:nth-of-type(even){
        background: $pale;
    }
}

.sort{
    display: inline-flex;
    flex-direction: column;
    margin-left: 10px;
    *:first-child{
        margin-bottom: 5px;
    }
    a, img{
        height: 6px;
    }
    img{
        display: block;
    }
}

.category{
    display: inline-block;
    background: transparentize($link, 0.9);
    font-size: 0.8rem;
    padding: 5px 7px;
    color: $link;
    border-radius: 2px;
    margin-right: 3px;
}

.tag{
    display: inline-block;
    border: 1px solid $link;
    background: transparentize($link, 0.9);
    font-size: 0.8rem;
    padding: 5px 7px;
    color: $link;
    border-radius: 2px;
}

.pagination{
    margin: 40px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    span{
        margin-right: 10px;
        @media screen and (min-width: $breakpoint-m) {
            font-size: 1.1rem;
            margin-right: 15px;
        }
        &:last-of-type{
            margin-right: 0px;
        }
    }
}

.mini-search{
    position: relative;
    margin-bottom: 25px;
    @media screen and (min-width: $breakpoint-m) {
        margin-bottom: 0px;
        width: 250px;
    }

    .mini-search__input{
        padding: 7px;
        height: 42px;
        font-size: 1rem;
        color: $text;
        border: 2px solid $text;
        width: 100%;
        padding-right: 50px;
        &:focus{
            outline: 3px solid $focus;
        }
    }

    .mini-search__submit{
        background: none;
        border: none;
        position: absolute;
        right: 2px;
        top: 2px;
        height: 38px;
        padding: 10px 12px;
        img{
            height: 100%;
            width: auto;
        }
        cursor: pointer;
        &:hover{
            background: $pale;
        }
        &:focus{
            outline: 3px solid $focus;
        }
    }
}