@import "variables";

.table{
    width: 100%;
    border-collapse: collapse;
    th{
        font-weight: bold;
        text-align: left;
        padding: 10px;
    }
    td{
        padding: 15px 10px;
        white-space: break-word;
    }
    tbody tr:nth-of-type(odd){
        background: $pale;
    }
    &.table--services{
        td{
            &:first-of-type{
                width: 30%;
            }
            &:last-of-type{
                width: 5%;
            }
        }
    }
}

.sort{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    img{
        margin-left: 7px;
        display: block;
        height: 8px;
        margin-bottom: 2px;
    }
}

.category{
    display: inline-block;
    background: transparentize($link, 0.9);
    font-size: 0.8rem;
    padding: 5px 7px;
    color: $link;
    border-radius: 2px;
    margin: 3px;
    margin-left: 0px;
}

.tag{
    display: inline-block;
    border: 1px solid $link;
    background: transparentize($link, 0.9);
    font-size: 0.8rem;
    padding: 5px 7px;
    color: $link;
    border-radius: 2px;
}

.pagination{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    span{
        margin-right: 10px;
        @media screen and (min-width: $breakpoint-m) {
            font-size: 1.1rem;
            margin-right: 15px;
        }
        &:last-of-type{
            margin-right: 0px;
        }
    }
}

.mini-search{
    position: relative;
    margin-bottom: 25px;
    @media screen and (min-width: $breakpoint-m) {
        margin-bottom: 0px;
        width: 250px;
        display: inline-block;
        margin-right: 10px;
    }

    .mini-search__input{
        padding: 7px;
        height: 42px;
        font-size: 1rem;
        color: $text;
        border: 2px solid $text;
        width: 100%;
        padding-right: 50px;
        &:focus{
            outline: 3px solid $focus;
        }
    }

    .mini-search__submit{
        background: none;
        border: none;
        position: absolute;
        right: 2px;
        top: 2px;
        height: 38px;
        padding: 10px 12px;
        img{
            height: 100%;
            width: auto;
        }
        cursor: pointer;
        &:hover{
            background: $pale;
        }
        &:focus{
            outline: 3px solid $focus;
        }
    }
}

.admin-tag{
    border: $link;
    background: $link;
    border-radius: 2px;
    padding: 2px 5px;
    color: $white;
    font-size: 1rem;
    font-weight: normal;
}