@import "variables";

.version-history{
    margin-bottom: 25px;
}

.stepper{
    list-style: none;
    margin-left: 0px;

    .stepper__time{
        font-size: 0.9rem;
        color: $grey;
    }

    .stepper__step{
        position: relative;
        margin-bottom: 0px;
        padding: 10px 0px 10px 40px;
        // stick
        &:before{
            content: "";
            display: block;
            position: absolute;
            left: 6.5px;
            top: 25px;
            border-left: 2px solid $text;
            height: 100%;
        }
        &:last-of-type:before{
            content: none;
        }
        // circle
        &:after{
            content: "";
            display: block;
            position: absolute;
            left: 0px;
            top: 15px;
            width: 11px;
            height: 11px;
            border: 2px solid $text;
            border-radius: 200px;
            background: $white;
            z-index: 2;
        }
    }

    .stepper__step--solid{
        &:after{
            background: $text;
        }
    }
}