@import "variables";

.stepper{
    list-style: none;
    margin-left: 0px;

    .stepper__link{
        display: block;
        text-decoration: none;
        &:hover{
            background: $pale;
        }
        &:focus{
            background: inherit;
            outline:3px solid $focus;
        }
    }

    .stepper__time{
        font-size: 0.9rem;
        color: $grey;
    }

    .stepper__step{
        position: relative;
        margin-bottom: 0px;
        padding: 0px 0px 20px 50px;
        // stick
        &:before{
            content: "";
            display: block;
            position: absolute;
            left: 7.5px;
            top: 15px;
            border-left: 2px solid $text;
            height: 100%;
        }
        &:last-of-type{
            padding-bottom: 0px;
            &:before{
                content: none;
            }
        }
        // circle
        &:after{
            content: "";
            display: block;
            position: absolute;
            left: 0px;
            top: 5px;
            width: 13px;
            height: 13px;
            border: 2px solid $text;
            border-radius: 200px;
            background: $white;
            z-index: 2;
        }
    }

    .stepper__step--solid{
        &:after{
            background: $text;
        }
    }
    .stepper__step--cross{
        &:after{
            background: $text;
            width: 5px;
            height: 5px;
            top: 8px;
            left: 4px;
        }
    }
    .stepper__step--tick{
        &:after{
            background-color: $text;
            background-image: url(asset_path("tick-white.svg"));
            background-size: 75%;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &.stepper--summarised{
        .stepper__step:nth-last-child(2):before{
            border-left: 2px dashed $text;
        }
    }
}