<div class="field-section field-section--two-cols field-section--no-bottom-margin">
    <p class="field-section__hint">Use these fields to show the age range this service can accomodate. Leave them blank for a service that is suitable for all ages</p>

    <div class="field">
        <%= s.label :min_age, "Minimum", class: "field__label" %>
        <%= s.number_field :min_age, class: "field__input", min: 0, max: 120 %>
    </div>

    <div class="field">
        <%= s.label :max_age, "Maximum", class: "field__label" %>
        <%= s.number_field :max_age, class: "field__input", min: 0, max: 120 %>
    </div>
</div>