<%= mark_unapproved_array("contacts") do %>

    <section class="repeater">

        <ul class="repeater__panels" aria-live="polite">
            <%= s.fields_for :contacts do |c| %>
                <li class="repeater__panel">
                    <%= render "admin/services/editors/contacts-fields", c: c %>
                </li>
            <% end %>
        </ul>

        <%= link_to_add_fields "Add a contact", s, :contacts, "admin/services/editors/contacts-fields" %>
    </section>

<% end %>