<section class="nested-editor">

    <ul class="nested-editor__results" aria-live="polite">
        <%= s.fields_for :contacts do |c| %>
            <li class="nested-editor__result">
                <%= render "admin/services/editors/contacts-fields", c: c %>
            </li>
        <% end %>
    </ul>

    <%= link_to_add_contact_fields "Add contact", s, :contacts, "admin/services/editors/contacts-fields" %>
</section>