<%= mark_unapproved_array("cost_options") do %>
    <section class="nested-editor">
        <ul class="nested-editor__results" aria-live="polite">
            <%= s.fields_for :cost_options do |c| %>
                <li class="nested-editor__result">
                    <%= render "admin/services/editors/cost-options-fields", c: c %>
                </li>
            <% end %>
        </ul>
        <%= link_to_add_fields "Add a fee", s, :cost_options, "admin/services/editors/cost-options-fields" %>
    </section>
<% end %>