
<div class="field-section field-section--two-cols field-section--no-bottom-margin">
    <p class="field-section__hint">Use these fields to show and hide a service on particular dates. Leave them blank to keep a service always visible.

    <div class="field">
        <%= s.label :visible_from, "From", class: "field__label" %>
        <%= s.date_field :visible_from, class: "field__input" %>
    </div>

    <div class="field">
        <%= s.label :visible_to, "To", class: "field__label" %>
        <%= s.date_field :visible_to, class: "field__input" %>
    </div>
</div>