<section class="nested-editor">

    <ul class="nested-editor__results" aria-live="polite">
        <%= s.fields_for :locations do |l| %>
            <li class="nested-editor__result">
                <%= render "admin/services/editors/location-fields", l: l %>
            </li>
        <% end %>
    </ul>

    <%= link_to_add_fields "Add location", s, :locations, "admin/services/editors/location-fields" %>
</section>