<section class="location-search">
    <%# <div class="field">
        <label class="field__label">Add a new location</label>
        <input 
            class="field__input" 
            placeholder="Enter an address or postcode..."
            data-google-places-autocomplete
        >
    </div> %>

    <ul class="location-search__results">
        <%= s.fields_for :locations do |l| %>
            <%= render "admin/services/editors/location-fields", l: l %>
        <% end %>
    </ul>

    <%= link_to_add_fields "Add location", s, :locations %>
</section>