<section class="location-search">
    <div class="field">
        <label class="field__label">Search for a new location</label>
        <input 
            class="field__input" 
            placeholder="Enter an address or postcode..."
            data-google-places-autocomplete
        >
    </div>

    <ul class="location-search__results" aria-live="polite">
        <%= s.fields_for :locations do |l| %>
            <li class="location-search__result">
                <%= render "admin/services/editors/location-fields", l: l %>
            </li>
        <% end %>
    </ul>

    <%= link_to_add_fields "Add custom", s, :locations %>
</section>