<%= mark_unapproved_array("regular_schedules") do %>
    <section class="repeater">
        <ul class="repeater__panels" aria-live="polite">
            <%= s.fields_for :regular_schedules do |sched| %>
                <li class="repeater__panel">
                    <%= render "admin/services/editors/regular-schedule-fields", sched: sched %>
                </li>
            <% end %>
        </ul>
        <%= link_to_add_fields "Add a schedule", s, :regular_schedules, "admin/services/editors/regular-schedule-fields" %>
    </section>
<% end %>