<div data-suitability-fields>
  <div class="suitability-editor" aria-live="polite">
    <fieldset class="field-group field-group--two-cols field-group--no-top-margin margin-bottom">
      <legend class="field-group__legend">What needs does it meet?</legend>
      <%= s.collection_check_boxes( :suitability_ids, Suitability.all, :id, :display_name) do |c| %>
        <div class="field checkbox checkbox--small">
          <%= c.check_box class: "checkbox__input" %>
          <%= c.label class: "checkbox__label" %>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>