<section class="labels">

    <div class="field">
        <%= s.label :label_list, "Choose or add labels to this user", class: "field__label" %>
        <%= s.text_field :label_list, class: "field__input", data: {labels: true}, value: @user.label_list.to_s %>
    </div>

    <script>
        __LABELS__=<%= raw ActsAsTaggableOn::Tag.most_used.to_json %>
    </script>

</section>
