<% content_for :header do %>
    <h1 class="page-header__title">Users</h1>
<% end %>

<header class="actions">
  <%= link_to "Invite user", new_admin_user_path, class: "button button--small" %>
</header>

<div class="table-holder">
  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Joined</th>
        <th>Parent organisation</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
        <tr>
          <td><%= u.email %></td>
          <td><%= time_ago_in_words(u.created_at) %> ago</td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>