<% content_for :title do %>Feedback sent successfully | <% end %>

<% content_for :header do %>
    <div class="confirmation-panel two-thirds">
        <h1 class="confirmation-panel__heading">Your feedback has been sent successfully</h1>
        <p class="confirmation-panel__caption">You can now close this tab</p>
    </div>
<% end %>