@import "variables";

.beta-banner{
  padding: 10px 15px;
  font-size: 0.9rem;

  &__inner{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__tag{
    background: $focus;
    color: $text;
    text-transform: uppercase;
    padding: 3px 7px;
    margin-right: 10px;
  }

  &__message{
    padding-top: 1px;
    font-size: 0.9rem;
  }

  a{
    color: $link;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
    &:active{
      color: $text;
    }
    &:focus{
      background: $focus;
      outline: 3px solid $focus;
    }
  }

}