@import "variables";

.site-header{
    background: $link;
    color: $white;
    padding: 10px $outer-spacing;

    .site-header__inner{
        // max-width: $max-width;
        // margin-left: auto;
        // margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        @media screen and (min-width: $breakpoint-m){
            align-items: center;
        }
    }

    .site-header__masthead{
        margin-bottom: 10px;
        display: inline-block;
        max-width: 50%;
        @media screen and (min-width: $breakpoint-m){
            width: 33%;
            display: inline-block;
            margin-bottom: 0px;
        }
    }

    .site-header__logo-link{
        display: inline-block;
        background: inherit;
        &:focus{
            outline: none;
        }
        &:focus-within img{
            outline: 3px solid $focus;

        }
    }

    .site-header__logo{
        height: 40px;
        @media screen and (min-width: $breakpoint-m){
            height: 45px
        }
    }


    .site-header__service-name-holder{
        display: inline-flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        @media screen and (min-width: $breakpoint-m){
            margin-bottom: 0px;
            width: inherit;
        }
    }

    .site-header__service-name{
        font-weight: bold;
        font-size: 1.1rem;
        color: $white;
        text-decoration: none;
        @media screen and (min-width: $breakpoint-m){
            font-size: 1.5rem;
        }
        &:hover{
            text-decoration: underline;
        }
        &:focus{
            outline: 3px solid $focus;
            background: $focus;
            color: $text;
        }
    }

    .site-header__actions{
        // display: none;
        margin-left: auto;
        @media screen and (min-width: $breakpoint-m) {
            font-size: 1.1rem;
            order: 2;
        }
    }

    .site-header__link{
        font-weight: bold;
        color: white;
        &:active, &:focus{
            color: $text;
        }
    }

    .site-header__phase-tag{
        color: $text;
        background: $focus;
        text-transform: uppercase;
        font-weight: bold;
        padding: 2px 5px;
        margin-left: 10px;
        font-size: 0.9rem;
        letter-spacing: 0.5px;
        text-decoration: none !important;
    }

    .site-header__username{
        display: none;
        &:active, &:focus{
            color: $text;
        }
        @media screen and (min-width: $breakpoint-l) {
            display: inline-block;
            margin-right: 10px;
            color: $white;
        }
    }
}