
.tagify{
    border-color: $grey1;
    transition: 0s !important;

    &:focus-within{
        outline: 3px solid $focus;
    }
    
    &--focus{
        border-color: $text;
    }

    &__input, 
    &__tag-text{
        color: $grey1;
    }

    &__tag > div::before{
        box-shadow: 0 0 0 1.1em $pale inset;
        border-radius: 0px;
    }
}