<% content_for :header do %>
    <%= link_to "Go back", organisations_path, class: "go-back" %>
    <h1 class="page-header__title">Invite a new user</h1>
    <p class="page-header__lede">You can invite other people you work with to help you manage this list of services.</p>
<% end %>

<%= render "form" %>